<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Software Circular">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src={"https://www.googletagmanager.com/gtag/js?id=#{Application.get_env(:scsite, :ga_id)}"} />
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= Application.get_env(:scsite, :ga_id) %>');
    </script>

    <!-- Metricool -->
    <script>function loadScript(a){var b=document.getElementsByTagName("head")[0],c=document.createElement("script");c.type="text/javascript",c.src="https://tracker.metricool.com/resources/be.js",c.onreadystatechange=a,c.onload=a,b.appendChild(c)}loadScript(function(){beTracker.t({hash:"658764b6fb3e8b4a50269ac1d7111189"})});</script>


    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer', '<%= Application.get_env(:scsite, :gtm_id) %>');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body class="bg-backgblue">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src={"https://www.googletagmanager.com/ns.html?id=#{Application.get_env(:scsite, :gtm_id)}"}
        height="0" width="0" style="display:none;visibility:hidden" />
    </noscript>

    {@inner_content}
  </body>
</html>
